<nav class="socialz_nav">
    <div class="logo">
        <span><img src="/VIBERZ-logo.svg" alt="VIBERZ"></span>
        <span>VIBERZ</span>
    </div>
    <div class="nav_opts">
        <span>@<%= user %></span>
        <ul>
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="/home/my_posts">MY POSTS</a></li>
            <li class="active"><a href="/home/new">NEW POST</a></li>
        </ul>
    </div>
</nav>
<div class="more_info" id="more_opts">
    <div class="more_div" id="more_div">
        <div class="more un_active"><a href="/home/my_posts">MY POSTS</a></div>
        <div class="more un_active"><a href="/home/new">NEW POST</a></div>
        <div class="more"><a href="/about">ABOUT</a></div>
        <div class="more" id="last_more_element"><a href="/contact" target="_blank">CONTACT US</a></div>
    </div>
    <div id="more_btn"><span><i class="fa-solid fa-caret-up"></i></span></div>
</div>