<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <header>
        <%- include("includes/header.ejs") %>
    </header>

    <main>
        <div class="about_section container">
            <h2>ABOUT VIBERZ</h2>
            <p>
                Welcome to VIBERZ, where the good vibes come to life through visual storytelling. VIBERZ is not just
                another
                social media platform; it's a vibrant and dynamic community of individuals who believe in the power of
                images
                and words. Our unique focus on visual communication takes sharing moments to a whole new level,
                enhancing the
                vibe in every post.
            </p>
            <p>
                With VIBERZ, you can effortlessly share your favorite moments through captivating pictures, each paired
                with
                thought-provoking and expressive captions that capture the essence of the moment and enhance the overall
                vibe.
                Whether it's an epic adventure, a heartwarming memory, or simply the beauty of everyday life, VIBERZ
                lets you
                encapsulate the essence of your experiences in a single frame.
            </p>
            <p>
                Join us to unlock a world of creativity, inspiration, and connection. VIBERZ is more than just a
                platform; it's
                a canvas for your visual stories that radiate good vibes. So, let your images speak louder than words,
                and start
                your journey with VIBERZ today.
            </p>
        </div>
    </main>

    <%- include("includes/footer.ejs") %>
</body>

</html>