<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/VIBERZ-logo.svg">
    <title>VIBERZ: Your Own Social Media</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <div class="contact_us_section">
        <div class="form_section">
            <form action="/contact" method="post">
                <input type="text" placeholder="Full Name" name="name">
                <input type="email" placeholder="Email" name="email">
                <textarea name="message" cols="30" rows="5" placeholder="Message"></textarea>
                <button class="submit_contact">Submit</button>
            </form>
        </div>
        <div class="non_form_section">
            <img src="/VIBERZ-logo.svg" alt="Brand-logo">
            <h3>Spread Your Vibe</h3>

        </div>
    </div>
</body>
</html>