<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/VIBERZ-logo.svg">
    <title>VIBERZ: Your Own Social Media</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="introduction_section">
        <h1>VIBERZ</h1>
        <h3>Your Own Social Media Application</h3>
        <h4>SHARE YOUR VIBES</h4>
    </div>
    <div class="login_section">
        <div class="login_form">
            <form method="post" action="/login">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <button>Login</button>
            </form>
        </div>
        <a href="/sign_up">Create New Account : <span>Sign Up</span></a>
    </div>
</body>
</html>